body {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
}

.card {
    margin: 20px;
    display: flex;
    padding: 10px;
    background-color: #efefef;
}

.card img {
    height: 420px;
}

.grow1 {
    flex: 1;
}
