body {
    font-family: monospace;
    margin: 0;
}

#game {
    display: none;
}

#shop {
    display: none;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.h100 {
    height: 100vh;
}
.mb50 {
    margin-bottom: 50px;
}

img {
    height: 300px;
    cursor: pointer;
}

img:hover {
    transform: scale(1.03);
}

h1 {
    text-align: center;
}

.btn {
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    background-color: burlywood;
    text-align: center;
}

.upgrade {
    margin: 10px;
}

.spinAnimation {
    animation-name: spin;
    animation-duration: 2s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}