


a {
    background-color: #def6b9;
    font-size: 20px;
}

img{
    max-height: 150px


}
p{
    font-size: 40px;
    background-color: #ffeebf;
}
h1{
    font-family: Kalinga;
}
a{
    cursor
}

.sveikas{
    font-family: "Comic Sans MS";
}

.paragraph{
    background-color: black;
    color: white;
}

.IMG{
    border-radius: 10px ;
}

.Kursor{
    cursor:e-resize;

}




